<div class="container">
  <div class="image"><basic-slider-marca></basic-slider-marca></div>
  <div class="text">
    <h2 class="title">Desarrollo de páginas web para pequeños y medianos negocios</h2>
    <p class="paragraph">He creado una marca especializada en el desarrollo de páginas web dirigidas a pequeños y medianos negocios. Ofrecemos soluciones personalizadas para ayudar a las empresas a establecer su presencia en línea con diseños modernos y funcionales. Nuestro enfoque se centra en crear sitios web atractivos y efectivos que reflejen la identidad de cada negocio.</p>
    <p class="paragraph">Para más información visita <a href="#">ralph.sites</a></p>
    <h3 class="subtitle">Tecnologías utilizadas:</h3>
    <div class="program">
      <img src="/assets/images/html5-color.png" alt="" class="program-icon">
      <img src="/assets/images/css3-color.png" alt="" class="program-icon">
      <img src="/assets/images/vscode-color.png" alt="" class="program-icon">
      <img src="/assets/images/angular17-color.png" alt="" class="program-icon">
    </div>
    <a class="see" href="#">Ver más</a>
  </div>
</div>
