<div class="container">
  <h3>Próximos proyectos</h3>
  <p>Estoy trabajando en algunas ideas geniales y proyectos emocionantes que están en camino</p>
  <div class="galery">
    <img src="assets/images/Bienes raices.svg" alt="" class="img">
    <img src="assets/images/Bodas.svg" alt="" class="img">
    <img src="assets/images/Moda.svg" alt="" class="img">
    <img src="assets/images/Fotografia.svg" alt="" class="img">
    <img src="assets/images/Musica.svg" alt="" class="img">
  </div>
</div>
