<div class="container">
  <div class="image"><basic-slider></basic-slider></div>
  <div class="text">
    <h2 class="title">Plantilla angular para web apps</h2>
    <p class="paragraph">Esta plantilla básica en Angular incluye rutas definidas y un navbar responsivo que se adapta a dispositivos móviles. Funciona como un punto de partida para desarrollar aplicaciones web con una estructura de navegación clara y organizada. El navbar se transforma automáticamente para ofrecer una experiencia de usuario fluida tanto en dispositivos de escritorio como en móviles.</p>
    <h3 class="subtitle">Tecnologías utilizadas:</h3>
    <div class="program">
      <img src="/assets/images/html5-color.png" alt="" class="program-icon">
      <img src="/assets/images/css3-color.png" alt="" class="program-icon">
      <img src="/assets/images/vscode-color.png" alt="" class="program-icon">
      <img src="/assets/images/angular17-color.png" alt="" class="program-icon">
    </div>
    <a class="see" href="#">Ver más</a>
  </div>
</div>
