<div class="main-container">
  <div class="navbar-container">
    <nav class="navbar">
      <ul class="navbar-links">
        <li *ngFor="let link of navLinks">
          <a [routerLink]="link.path" (click)="toggleSidebar()">{{ link.label }}</a>
        </li>
      </ul>
      <img src="/assets/images/ralph.sites.png" alt="Logo" class="logo">
      <button class="menu-btn" (click)="toggleSidebar()">&#9776;</button>
    </nav>
  </div>
  <aside class="sidebar" [ngClass]="{'open': isSidebarOpen}">
    <button class="close-btn" (click)="toggleSidebar()">&times;</button>
    <ul class="navbar-links">
      <li *ngFor="let link of navLinks">
        <a [routerLink]="link.path" (click)="toggleSidebar()">{{ link.label }}</a>
      </li>
    </ul>
  </aside>
</div>
