<div class="container">
  <h3>Herramientas</h3>
  <div class="stack">
    <div class="program">
        <img src="/assets/images/figma-color.png" alt="" class="program-icon">
        <div class="tooltip">En curso</div>
    </div>
    <div class="program">
      <img src="/assets/images/github-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/git-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/vscode-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/slack-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/netlify2-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
  </div>
</div>
