.footer {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #121212;
  padding-top: 20px;
  border-radius: 15px 15px 0px 0px;
}


.logo {
  display: none;
}

.footer-section {
  color: #fff;
  padding: 10px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  padding: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}


.footer-section p a:hover {
  text-decoration: underline;
}

.dev {
  width: 70%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #121212;
  border-top: 1px solid #2e2e2e;
  border-radius: 0px 0px 15px 15px;
}

.dev p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}

/* Estilos para el enlace dentro del contenedor */
.dev a {
  color: #fff;
  text-decoration: none;
}

.dev a:hover {
  text-decoration: underline;
}


@media (max-width: 800px) {
  .footer {
    text-align: center;
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 10px;
  }

  .footer-section a {
    min-height: 48px;
    min-width: 48px;
    padding: 10px;
    font-size: 16px;
  }

  .footer-section li {
    margin-bottom: 20px;
  }

  .logo {
    display: block;
    margin-bottom: 20px;
  }

  .logo img {
    width: 100px;
  }

  .dev {
    text-align: center;
  }

}
