<div class="footer">
  <div class="logo">
    <img src="/assets/images/ralph.sites.png" alt="Logo">
  </div>
  <div class="footer-section">
    <h3>Contact</h3>
    <ul>
      <li>Email: <a href="mailto:outlook@example.com">outlook&commat;example.com</a></li>
      <li>Email: <a href="mailto:gmail@example.com">gmail&commat;example.com</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Menu</h3>
    <ul>
      <li><a [routerLink]="['/basic/home']">Home</a></li>
      <li><a [routerLink]="['/basic/services']">Servicios</a></li>
      <li><a [routerLink]="['/basic/about']">About</a></li>
      <li><a [routerLink]="['/basic/contact']">Contact</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Social Media</h3>
    <ul>
      <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
    </ul>
  </div>
</div>

<div class="dev">
  <p>Dev by: <a href="https://ralph.sites" target="_blank">ralph.sites</a></p>
</div>
