<div class="container">
  <h3>Stack</h3>
  <div class="stack">
    <div class="program">
        <img src="/assets/images/angular17-color.png" alt="" class="program-icon">
        <div class="tooltip">En curso</div>
    </div>
    <div class="program">
      <img src="/assets/images/css3-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/html5-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/js-color.png" alt="" class="program-icon">
      <div class="tooltip">En curso</div>
    </div>
    <div class="program">
      <img src="/assets/images/sass-color.png" alt="" class="program-icon">
      <div class="tooltip">Concluido</div>
    </div>
    <div class="program">
      <img src="/assets/images/typescript-color.png" alt="" class="program-icon">
      <div class="tooltip">En curso</div>
    </div>
  </div>
</div>
